* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
#image {
	width: 900px;
	height: 500px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 100px;
}
div {
	margin-right: 98px;
}
p.heading {
	font-size: 37px;
	text-align: left;
	font-weight: bold;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 20px;
}
p.paragraph {
	font-size: 27px;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 20px;
	opacity: 0.8;
	line-height: 50px;
	font-family: sans-serif;
}
span.bold {
	color: black;
	font-weight: bold;
	opacity: 1;
}
span.italic {
	color: black;
	font-style: italic;
}
span.cool {
	color: black;
	font-weight: bold;
	font-style: italic;
}
h1 {
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	color: black;
	display: inline-block;
	margin-top: 20px;
}

